.contenedor{
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F1113;
    color: white;
    gap: 40px;
}
@media(min-width: 950px){
    .contenedor{
        background-color: #13171C;
        padding-bottom: 40px;
        gap: 60px;
    }
}

.logo{
    height: 90px;
    width: 90px;
    margin: 0px;
    background-color: #0000ef;
    color:#FAFAFA;
    border-radius: 50px;
    font-size: 96px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

.contenedor-link-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
@media(min-width: 950px){
    .contenedor-link-redes{
        gap: 20px;
    }
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
@media(min-width: 950px){
    .links{
        flex-direction: row;
        gap: 50px;
    }
}
.links > a {
    all: unset;
    margin: 0px;
    width: 106px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}
.redes{
    display: flex;
    justify-content: center;
    display: flex;
    gap: 24px;
    font-size: 32px;
}
.redes > a {
    all: unset;
}
